body{
	background: #2e3440;
	color: #BBC4C8;
}
.container{
	display: grid;
	grid-gap: 20px;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
	grid-template-columns: repeat(4,1fr);
	justify-items: center;
}
.logo{
	grid-column: 1/-1;
	padding-bottom: 50px;
	padding-top: 50px;
}
.search_box{
	grid-column: 1/-1;
	padding-bottom: 25px;
	margin-left: 0px;
}
.input_box{
	border: none;
	outline: none;
	background: #4c566a;
	padding: 15px;
	color: whitesmoke;
	font-size: 20px;
	transition: 0.4px all;
	border-radius: 5px 5px 5px 5px;
	width: 600px;
	margin-bottom: 30px;
	/*box-shadow: 3px 4px #0F1011;*/

}
li{
	list-style-type: none;
	padding:5px
}
a:link{
	text-decoration: none;
	color: #9BA8BB;
}
a:visited{
	color: #9BA8BB;
}
a:hover{
	color: #0091eb;
}
.category{
	background: #3b4252;
	padding: 20px;
	border: #191C1E;
	border-radius: 5px;
	width:   -moz-available;
	/*box-shadow: 3px 5px #0F1011;*/
}
