html, body {
    min-height: 100%;
}

body {
    background: no-repeat fixed center;
    background-size: cover;
    height: 100%;
    margin: 0px;
    background-color: rgba(46, 52, 64);
}

::-webkit-scrollbar { 
    display: none; 
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1.hello {
	margin-top: 10px;
}

h1.hello, h1.timing {
	margin-bottom: 10px;
	font-size: 3.2rem;
	color: #9BA8BB
}
#search {
    width: 63.5%;
    height: 12vh;
    /*background-color: rgba(59, 66, 82, 1);*/
    background: center;
    display: none;
    position: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 80%;
    padding: .7em .7em;
    box-sizing: border-box;
    background-color: rgba(59, 66, 82, 0.9);
    border: solid 0px #272727;
    font-family: "Product Sans", sans-serif;
    font-size: 1.3rem;
    color: #9BA8BB;
    outline: none;
    border-radius: 10px;
    margin-bottom: .5em;
    text-align: left;
}

.weather-container {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-family: "Product Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #9BA8BB;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    background-color: rgba(59, 66, 82, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0.6rem;
    border-radius: 10px;
    z-index: 1;
}
.inline {
    display: inline-block;
}
.logo{
	grid-column: 1/-1;
	padding-bottom: 10px;
	padding-top: 10px;
}
.search-container-mobile {
    position: absolute;
    width: 2.5rem;
    top: 1rem;
    left: 1rem;
    font-family: "Product Sans", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #9BA8BB;
    text-align: center;
    justify-content: center;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    background-color: rgba(39, 39, 39, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0.8rem;
    border-radius: 10px;
    z-index: 1;
}
#search-mobile {
    display: none;
}
#hide-mobile {
    display: none;
    z-index: 900;
}

/* Smartphone Portrait and Landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){ 
  #search-mobile {display: flex;}
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: rgba(59, 66, 82, 0.7);
    border-radius: 6px;
    font-family: "Product Sans", sans-serif;
    backdrop-filter: blur(10px);
    font-size: 0.9rem;
    width: 25%;
    height: 11em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #6d92de;
    margin: 0em 0em .6em 0em;
}
.bookmark {
    text-decoration: none;
    color: #9BA8BB;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #9BA8BB;
}
